body {
  margin: 0;
  padding:0;
  background-color: #FEFFFF;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

a {
	/* Typography Declrations */
	font-weight: bold;
	text-decoration: none;
	color: #D1DBBD;
}

a:hover {
	/* Tyopography Declarations */
	color: #FCFFF5;
}

a:visited {
	/* Typography Declarations */
	color: #D1DBBD;
}

h1 {
  color: #3E606F;
}

h2 {
  color: #193441;
}
.masthead-heading,
.masthead-intro {
  text-align: center;
  color: #FFF;
}
.masthead {
  padding: 6em 0;
  background-image: url('https://images.unsplash.com/photo-1475446401841-97e2b596b59d');
  background-color: #1FAAFF;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.masthead-heading {
  margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", "sans-serif";
  font-weight: bold;
  font-size: 6em;
  color:darkgrey;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.introduction-section{
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

